[submodule ".submodules/dataset-LJ-fluid"]
	path = .submodules/dataset-LJ-fluid
	url = git@github.com:NMRDfromMD/dataset-LJ-fluid.git
	branch = main
[submodule ".submodules/pyplot-perso"]
	path = .submodules/pyplot-perso
	url = git@github.com:simongravelle/pyplot-perso.git
	branch = LAMMPS-livecom
[submodule ".submodules/dataset-peg-water-mixture"]
	path = .submodules/dataset-peg-water-mixture
	url = git@github.com:NMRDfromMD/dataset-peg-water-mixture.git
[submodule ".submodules/dataset-water-in-silica"]
	path = .submodules/dataset-water-in-silica
	url = git@github.com:NMRDfromMD/dataset-water-in-silica.git
