[submodule ".submodules/dataset-LJ-fluid"]
	path = .submodules/dataset-LJ-fluid
	url = git@github.com:NMRDfromMD/dataset-LJ-fluid.git
	branch = main
[submodule ".submodules/pyplot-perso"]
	path = .submodules/pyplot-perso
	url = git@github.com:simongravelle/pyplot-perso.git
	branch = develop
[submodule ".submodules/dataset-peg-water-mixture"]
	path = .submodules/dataset-peg-water-mixture
	url = git@github.com:NMRDfromMD/dataset-peg-water-mixture.git
	branch = main
[submodule ".submodules/dataset-pure-water"]
	path = .submodules/dataset-pure-water
	url = git@github.com:NMRDfromMD/dataset-pure-water.git
	branch = main

